header, nav{
  display: block;
}


.Header {
  background: linear-gradient(to bottom, black 0%, transparent 100%);
display: flex;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;

  ul {
  list-style: none; /*remove the period in list*/
}

.Navigation ul {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 20 30px;
}
.Navigation ul li {
  font-weight: 400;
  padding: 7px 10px;/* top and bot vs left and right*/
  font-size: 14px;
  color:white;
  border-radius: 23px;/*make rounded buttons*/
}
.Navigation ul li:hover {
  background: #e50914;
  cursor: pointer;
}

.UserProfile {
  margin-left: auto;
}/*push display picture to the right*/

.UserProfile .User {
  display: flex;
}
/* make sure profile image to fit*/
.UserProfile .User .image {
  border-radius: 50px;
  width: 50px;
  height: 50px;
   overflow: hidden; /*set up dimensions of image box*/
}
.UserProfile .User .image img {
  width: 100%;/*determine size of picture fit into box*/
  display: block;
}
.UserProfile .User .name {
  display: flex;
  font-size: 14px;
  height: 44px;
  padding:10px;
}
.UserProfile .User:hover {
  cursor: pointer;/*if u hover over image*/
}
.UserProfile .User:hover .image {
  border: 1px solid #e50914;
}